---
- name: "Upgrade APT packages"
  ansible.builtin.apt:
    update_cache: true
    upgrade: dist
  become: true

- name: "Check for reboot-required file"
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required_file

- name: "Reboot host if required"
  ansible.builtin.reboot:
    reboot_timeout: 120
  when: not skip_reboot and reboot_required_file.stat.exists
  become: true

- name: "Show whether reboot is required for skipped hosts"
  ansible.builtin.debug:
    msg: "Reboot required (but skipped) for {{ ansible_host }}"
  when: skip_reboot and reboot_required_file.stat.exists
