- name: "Install k3s"
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      curl -sfL https://get.k3s.io | sh -
    executable: /bin/bash
    creates: /usr/local/bin/k3s
  become: true

- name: "Get kube config content"
  ansible.builtin.command: k3s kubectl config view --raw
  become: true
  changed_when: false
  register: kube_config_command

- name: "Create .kube directory for user"
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.kube"
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
    mode: "0755"

- name: "Create new kube config file for the user"
  ansible.builtin.copy:
    content: "{{ kube_config_command.stdout }}"
    dest: "{{ ansible_env.HOME }}/.kube/config"
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
    mode: "0600"

# I don't want to handle different shells. For now bash is fine.
- name: "Set KUBECONFIG environment variable in .bashrc"
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR K3S"
    block: 'export KUBECONFIG="$HOME/.kube/config"'
