---
- name: "Install prerequisites with APT"
  ansible.builtin.apt:
    update_cache: true
    pkg:
      - software-properties-common
      - curl
      - gnupg
  become: true

- name: "Install HashiCorp gpg key"
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      wget -O- https://apt.releases.hashicorp.com/gpg > /usr/share/keyrings/hashicorp-archive-keyring.asc
    executable: /bin/bash
    creates: /usr/share/keyrings/hashicorp-archive-keyring.asc
  become: true

- name: "Add HashiCorp APT repo"
  ansible.builtin.apt_repository:
    # TODO: support other architectures (not needed rn)
    repo: >-
      deb [
        arch=amd64
        signed-by=/usr/share/keyrings/hashicorp-archive-keyring.asc
      ]
      https://apt.releases.hashicorp.com {{ ansible_lsb.codename }} main
  become: true

- name: "Install terraform"
  ansible.builtin.apt:
    update_cache: true
    name: terraform
  become: true
